gvcf-all/
gvcf/
bam/
db/
out/
vcf-split/
angsd/
angsd_chr-glo/
angsd_final-glo/
angsd_noheader/
angsd_single/
angsd_noheader-glo/
angsd_thinned-glo/
angsd-glo/
angsd-saf/
beagle_bed/
beagle_bed_rmrep/
Central-Southern_dadi-fs/
Central-Southern_dadi-results/
Central-Southern_dadi-vcf/
Central-Southern_dadi-vcf-chr/
dadi_results/
gvcf-dadi-combined-1/
gvcf-dadi-combined-2/
Northern-Central_dadi-fs/
Northern-Central_dadi-results/
Northern-Central_dadi-stats/
Northern-Central_dadi-vcf/
Northern-Central_dadi-vcf-chr/
old/
rmrep/
rmrep-glo/
stats/
vcf/
vcf-chr/
sample_region_bams/
